<h3><%= link_to "Lote: #{auction_batch.code}", auction_batch %></h3>
<h3>Preço Atual: R$ <%= auction_batch.bids.empty? ? auction_batch.minimum_bid_amount : auction_batch.bids.last.value + auction_batch.minimum_bid_difference %></h3>
<dl>
  <dt>Quantidade de itens:</dt>
  <dd><%= auction_batch.auction_items.count %></dd>
  <dt><%= AuctionBatch.human_attribute_name(:start_date) %>:</dt>
  <dd><%= I18n.l(auction_batch.start_date, format: :short)%></dd>
  <dt><%= AuctionBatch.human_attribute_name(:end_date) %>:</dt>
  <dd><%= I18n.l(auction_batch.end_date, format: :short)%></dd>
  <% if current_user && current_user.admin? %>
    <dt><%= AuctionBatch.human_attribute_name(:created_by_user) %>:</dt>
    <dd><%= auction_batch.created_by_user.name %></dd>
    <dt><%= AuctionBatch.human_attribute_name(:status) %>:</dt>
    <dd><%= I18n.t(auction_batch.status) %></dd>
  <%end%>
</dl>