<h1>Lotes para Leilão</h1>

<section>
    <% @auction_batches.each do |ab| %>
  <div>
      <h3><%= link_to "Lote: #{ab.code}", ab %></h3>
      <dl>
        <dt>Quantidade de itens:</dt>
        <dd><%= ab.auction_items.count %></dd>
        <dt>Data de início:</dt>
        <dd><%= I18n.l(ab.start_date, format: :short)%>g</dd>
        <dt>Data de término:</dt>
        <dd><%= I18n.l(ab.end_date, format: :short)%>g</dd>
        <dt>Criado por:</dt>
        <dd><%= ab.created_by_user.name %></dd>
      </dl>
    <% end %>
  </div>

  <% if @auction_batches.empty? %>
    <h2>Nenhum Lote de Leilão cadastrado.</h2>
  <% end %>
</section>