<h1>Lotes para Leilão</h1>

<%= link_to 'Cadastrar Novo Lote', new_auction_batch_path %>

<section>
  <div id='ongoing-batches'>
  <h2>Lotes em andamento</h2>
    <% @auction_batches.select{ |ab| ab.start_date < DateTime.now }.each do |auction_batch| %>
      <%= content_tag :div, id: dom_id(auction_batch) do %>
        <%= render auction_batch %>
      <% end %>
    <% end %>

    <% if @auction_batches.select{ |ab| ab.start_date < DateTime.now }.empty? %>
    <h4>Nenhum Lote em andamento.</h4>
    <% end %>
  </div>

  <div id='future-batches'>
    <h2>Lotes futuros</h2>
    <% @auction_batches.select{ |ab| ab.start_date > DateTime.now }.each do |auction_batch| %>
      <%= content_tag :div, id: dom_id(auction_batch) do %>
        <%= render auction_batch %>
      <% end %>
    <% end %>

    <% if @auction_batches.empty? %>
    <h4>Nenhum Lote futuro.</h4>
    <% end %>
  </div>
</section>