<div class="container-md">
  <h2>Lote <%= @auction_batch.code %></h2>
  <% if current_user && current_user.user_fav_batch.map(&:auction_batch_id).include?(@auction_batch.id)%>
    <%= button_to 'Remover dos Favoritos', user_fav_batch_path(@auction_batch), method: 'delete', class: 'btn btn-danger' %>
  <% else %>
    <%= button_to 'Favoritar', user_fav_batches_path, method: 'post', params: { auction_batch_id: @auction_batch.id}, class: 'btn btn-warning' %>
  <% end %>
</div>
<section>
  <div class="container-md">
    <h3>Preço atual: R$<%= @auction_batch.bids.empty? ? @auction_batch.minimum_bid_amount : @auction_batch.bids.last.value + @auction_batch.minimum_bid_difference %></h3>
    
    <div>
    <% if (!current_user || !current_user.admin?) && @auction_batch.end_date > Time.current  && @auction_batch.start_date < Time.current%>
      <%= form_with(url: auction_batch_bids_path(@auction_batch.id), method: 'post' ) do |f| %>
        <%= f.label :value, 'Valor do Lance' %>
        <%= f.number_field :value %>
        <%= f.submit 'Fazer lance' %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="container-md">
  <% if @auction_batch.pending? %>
  <%= link_to 'Adicionar Novo Item', add_item_auction_batch_path(@auction_batch.id)%>
  <%end%>
    <%= render 'auction_batch_details' %>
    <% if @auction_batch.pending? && current_user != @auction_batch.created_by_user && current_user.admin? %>
      <%= button_to 'Aprovar Lote', approved_auction_batch_path(@auction_batch.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="container-md">
    <h3>Perguntas</h3>
    <ul class="list-group">
    <% @questions.each do |question| %>
      <li class="list-group-item">
        <% if user_signed_in? && current_user.admin?%>
        <p>Status: <span class="text-danger fw-bold"><%= I18n.t(question.status) %></span></p>
          <dl>
            <dt>Nome:</dt>
            <dd><%= question.user.name %></dd>
            <dt>Email:</dt>
            <dd><%= question.user.email %></dd>
          </dl>
          <% if question.hidden?%>
            <%= button_to 'Exibir pergunta', display_auction_question_path(question.id), method: 'post', class: 'btn btn-primary' %>
          <% else %>
            <%= button_to 'Ocultar pergunta', hidden_auction_question_path(question.id), method: 'post', class: 'btn btn-danger' %>
          <%end%>
        <% end %>
        <p><span class="text-primary fw-bold">P: </span><%= question.question %></p>
        <% if question.auction_question_reply %>
          <p><span class="text-success fw-bold">R: </span><%= question.auction_question_reply.reply %></p>
        <%end%>
      </li>
    <% end %>
    </ul>
    <div>
      <% unless (user_signed_in? && current_user.admin?)%>
        <%= form_with(url: auction_questions_path(@auction_batch.id), method: 'post' ) do |f| %>
          <%= f.label :question, 'Pergunta' %>
          <%= f.text_area :question %>
          <%= hidden_field_tag :auction_batch_id, @auction_batch.id %>
          <%= f.submit 'Enviar' %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<% if !@auction_batch.auction_items.empty?%>
<div class="container-md">
  <section>
    <h3>Itens do Lote</h3>
    <dl>
      <% @auction_batch.auction_items.each do |ai|  %>
      <dt><%= link_to ai.name, ai  %></dt>
      <dd><%= ai.description %></dd>
      <%end%>
    </dl>
  </section>
</div>
<%end%>