<h2>Lote <%= @auction_batch.code %></h2>

<section>
  <div>
  <%= link_to 'Adicionar Novo Item', add_item_auction_batch_path(@auction_batch.id) %>
    <%= render 'auction_batch_details' %>
    <% if @auction_batch.pending? && current_user != @auction_batch.created_by_user %>
      <%= button_to 'Aprovar Lote', approved_auction_batch_path(@auction_batch.id) %>
    <% end %>
  </div>
</section>

<% if !@auction_batch.auction_items.empty?%>
  <section>
    <h3>Itens do Lote</h3>
    <dl>
      <% @auction_batch.auction_items.each do |ai|  %>
      <dt><%= link_to ai.name, ai  %></dt>
      <dd><%= ai.description %></dd>
      <%end%>
    </dl>
  </section>
<%end%>