<h2>Lote <%= @auction_batch.code %></h2>
<% if current_user && current_user.user_fav_batch.map(&:auction_batch_id).include?(@auction_batch.id)%>
  <%= button_to 'Remover dos Favoritos', user_fav_batch_path(@auction_batch), method: 'delete' %>
<% else %>
  <%= button_to 'Favoritar', user_fav_batches_path, method: 'post', params: { auction_batch_id: @auction_batch.id} %>
<% end %>
<section>
  <div>
    <h3>Preço atual: R$<%= @auction_batch.bids.empty? ? @auction_batch.minimum_bid_amount : @auction_batch.bids.last.value + @auction_batch.minimum_bid_difference %></h3>
    
    <div>
    <% if (!current_user || !current_user.admin?) && @auction_batch.end_date > Time.current  && @auction_batch.start_date < Time.current%>
      <%= form_with(url: auction_batch_bids_path(@auction_batch.id), method: 'post' ) do |f| %>
        <%= f.label :value, 'Valor do Lance' %>
        <%= f.number_field :value %>
        <%= f.submit 'Fazer lance' %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div>
  <% if @auction_batch.pending? %>
  <%= link_to 'Adicionar Novo Item', add_item_auction_batch_path(@auction_batch.id)%>
  <%end%>
    <%= render 'auction_batch_details' %>
    <% if @auction_batch.pending? && current_user != @auction_batch.created_by_user && current_user.admin? %>
      <%= button_to 'Aprovar Lote', approved_auction_batch_path(@auction_batch.id) %>
    <% end %>
  </div>
</section>

<% if !@auction_batch.auction_items.empty?%>
  <section>
    <h3>Itens do Lote</h3>
    <dl>
      <% @auction_batch.auction_items.each do |ai|  %>
      <dt><%= link_to ai.name, ai  %></dt>
      <dd><%= ai.description %></dd>
      <%end%>
    </dl>
  </section>
<%end%>