<%= content_tag :div, id: dom_id(auction_batch) do %>
  <div class="container-md">
    <dl>
      <dt><%= Batch.human_attribute_name(:code) %>:</dt>
      <dd><%= auction_batch.code %></dd>
      <dt>Quantidade de itens:</dt>
      <dd><%= auction_batch.items.count %></dd>
      <dt><%= Batch.human_attribute_name(:start_date) %>:</dt>
      <dd><%= I18n.l(auction_batch.start_date, format: :short)%></dd>
      <dt><%= Batch.human_attribute_name(:end_date) %>:</dt>
      <dd><%= I18n.l(auction_batch.end_date, format: :short)%></dd>
      <dt><%= Batch.human_attribute_name(:status) %>:</dt>
      <dd><%= I18n.t(auction_batch.status) %></dd>
      <% if auction_batch.approved_by_user.present? %>
        <dt><%= Batch.human_attribute_name(:approved_by_user) %>:</dt>
        <dd><%= auction_batch.approved_by_user.name %></dd>
      <%end%>
      <dt><%= Batch.human_attribute_name(:created_by_user) %>:</dt>
      <dd><%= auction_batch.created_by_user.name %></dd>
    </dl>

    <div>
      <% if auction_batch.bids.empty? && auction_batch.pending?%>
        <%= button_to 'Cancelar Lote', cancelled_batch_path(auction_batch.id), class: 'btn btn-danger'%>
      <%elsif !auction_batch.cancelled?%>
        <%= button_to 'Finalizar Lote', finished_batch_path(auction_batch.id), class: 'btn btn-primary'%>
      <%end%>
    </div>
  </div>
<%end%>
