<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <%= link_to root_path do %>
          <h1 class="navbar-brand">Leil천es de Estoque</h1 >
        <% end %>
        <%= link_to 'Lotes para Leil찾o', auction_batches_path %>
        <% if user_signed_in? %>
            <%= current_user.description %>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
            <%= link_to 'Lotes Favoritos', user_fav_batches_path %>
            <% if current_user.admin? %>
              <%= link_to 'Itens para Leil찾o', auction_items_path %>
              <%= link_to 'Perguntas Pendentes', auction_question_replies_path %>
            <% end %>
            <% if !current_user.admin? %>
              <%= link_to 'Leil천es Vencidos', won_auction_batches_path %>
            <% end %>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path %>
          <% end %>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
